input:not([type="radio"]), fieldset, textarea {
  display: block;
  margin: 10px 0;
}

input:focus, textarea:focus {
  border-color: grey;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: darkgray;
}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: purple;
  box-shadow: 2px 2px 5px lightblue;
}

.radio-group input[type="radio"]:checked + label {
  color: green;
}

input:first-of-type {
  border-radius: 5px;
}
