* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 1rem;
}

.newspaper-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
    gap: 1rem;
}

.title {
  grid-area: title;
  text-align: center;
  color: white;
  font-size: 2.3rem;
  background-color: hsl(207, 50%, 50%, 90%);
  padding: 2rem 1rem;
  border: 0.1rem solid black;
}

article {
  background-color: hsl(207, 50%, 90%, 90%);
  padding: 1rem;
  border: 0.1rem solid black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  padding-top: 1rem;
  font-size: 1.6rem;
}

.feature-article {
  grid-area: feature-article;
}

.secondary-article {
  grid-area: secondary-article;
}

figure {
  padding: 1rem;
  background-color: hsl(207, 50%, 90%, 90%);
  align-self: auto;
}

.cover-image {
  grid-area: cover-image;
}

.cover-image > img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  padding: 0.5rem;
}

.small-article1 {
  grid-area: small-article1;
  text-align: justify;
}

.small-article2 {
  grid-area: small-article2;
  text-align: justify;
}

.small-article3 {
  grid-area: small-article3;
  text-align: justify;
}
