input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1.5px solid hsl(200, 100%, 50%);
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: hsl(200, 100%, 50%);
  border-color: hsl(200, 80%, 35%);
}

input[type="checkbox"]:checked::after {
  content: "✓";
  display: block;
  text-align: center;
  line-height: 13px;
}
